
.avk-upload {
  position: relative;
}

.avk-big-block-upload input[type=file] {
  position: absolute;
  width: 100%;
  z-index: 10;
  opacity: 0;
  left: 0px;
  top: 0px;
  height: 54px;
  cursor: pointer;
}

.avk-big-block-upload .btn-large {
  position: relative;
}

.avk-big-block-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.avk-upload > .row > .col.s12 > ul {
  box-shadow: black 0px 0px 10px;
  border-radius: 10px;
}

.avk-upload .avk-object-upload {
  width: 80% !important;
}
