
* {
  font-family: courier new;
  word-wrap: break-word;
}

div.page-loading {
  transition: all 1s;
  opacity: 1;
  height: 30px;
}

body.page-loaded > div.page-loading {
  opacity: 0;
  height: 0px;
}

div.body {
  transition: all 1s;
  margin-top: 40px;
  opacity: 0;
}

div.body.page-loaded {
  opacity: 1;
  margin-top: unset;
}

button[css-current-page=true] {
  background-color: transparent;
  border-color: transparent;
}

button[css-invisible=true] {
  visibility: hidden;
}
