@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  overflow-x: hidden;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app:not([v-page=login]) {
  display: block;
  background-color: white !important;
}

.clickable {
  cursor: pointer;
}

.break-word {
  word-wrap: break-word;
}

ul.hover-effect.collection .collection-item:not(.active):not(.avk-big-block-upload):not(.avk-empty-folder) {
  transition: .25s;
}

ul.hover-effect.collection .collection-item:not(.active):not(.avk-big-block-upload):not(.avk-empty-folder):hover {
  background-color: #ddd;
}
