<!doctype html>
<html>
  <head>
    <title>Vue + Koa + AWS SDK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <noscript>Enable JavaScript.</noscript>

    <div class="page-loading">Loading...</div>

    <div class="body">
      <div id="app">
        <div>
          Components:
          <ul>
            <li v-for="component in components">
              <button :disabled="isLoading" @click="changeComponent(component)">{{ component }}</button>
            </li>
          </ul>
        </div>

        <s3-read v-if="selected_component === 's3-read'"></s3-read>
        <s3-write v-if="selected_component === 's3-write'"></s3-write>
      </div>
    </div>
  </body>
</html>
