<!doctype html>
<html>
  <head>
    <title>Vue.js + MaterializeCSS + Koa + AWS SDK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" sizes="192x192" href="/images/logo-192x192.png" type="image/png">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <noscript>Enable JavaScript to finish loading.</noscript>

    <div id="app" class="sw-phase black page-flexbox-wrapper" :v-page="app_page" :v-dragover="app_dragover" :v-mode="mode" :v-online="is_online">
      <div class="loader-wrapper" v-if="!app_loaded">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="dragndrop_layer">Drag files or folders here</div>

      <router-view v-if="app_loaded" name="nav"></router-view>
      <router-view v-if="app_loaded" name="side-nav"></router-view>
      <router-view v-if="app_loaded"></router-view>
    </div>

    <script src="/js/bootstrap.js"></script>
  </body>
</html>
