
<div class="avk-buckets-objects">
  <div class="row" :v-css-loading="is_loading" v-if="buckets_objects">
    <div class="col s12">
      <button class="btn green" :disabled="is_loading" @click.prevent="$router.go(-1)">
        <i class="material-icons">keyboard_backspace</i>
      </button>
      <a class="btn green" :disabled="is_loading" href="/#/upload">
        <i class="material-icons">cloud_upload</i>
      </a>
    </div>

    <div class="col s12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4 class="green-text text-lighten-2 break-word">
            <span v-for="prefix in buckets_objects.prefix_array" class="clickable" @click="listObjects({prefix: prefix.breadcrumbs})">
              {{ prefix.valueOf() }}/
            </span>
          </h4>
        </li>

        <li v-for="content in buckets_objects.Contents" class="collection-item">
          <div v-if="buckets_objects.Prefix === content.Key">
            .
            <a href="/#!" @click.prevent="listObjects({prefix: buckets_objects.Prefix})" class="secondary-content"><i class="green-text material-icons">visibility</i></a>
          </div>
          <div v-else>
            {{ content.Key.replace(buckets_objects.Prefix, '') }}
            <a href="/#!" @click.prevent="getObject(content)" class="secondary-content"><i class="green-text material-icons">file_download</i></a>
          </div>
        </li>

        <li v-for="comment_prefix in buckets_objects.CommonPrefixes" v-if="buckets_objects.Prefix !== comment_prefix.Prefix" class="collection-item">
          <div>
            {{ comment_prefix.Prefix.replace(buckets_objects.Prefix, '') }}
            <a href="/#!" @click.prevent="listObjects({prefix: comment_prefix.Prefix})" class="secondary-content"><i class="green-text material-icons">visibility</i></a>
          </div>
        </li>

        <li v-if="buckets_objects.CommonPrefixes.length &lt; 1 &amp;&amp; buckets_objects.Contents.length === 1 &amp;&amp; buckets_objects.Contents[0].Key === buckets_objects.Prefix" class="collection-item">
          <div>
            <h4>This folder is empty.</h4>
          </div>
        </li>

        <li v-if="buckets_objects.IsTruncated || list_start_after.length" class="collection-item">
          <div class="row">
            <button v-if="list_start_after.length" class="btn left green" @click.prevent="previousPage()"><i class="material-icons">navigate_before</i></button>
            <button v-if="buckets_objects.IsTruncated" class="btn right green" @click.prevent="nextPage()"><i class="material-icons">navigate_next</i></button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div v-if="is_loading" class="page-flexbox-wrapper">
    <div class="loader-wrapper">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
