
<div class="avk-buckets-objects">
  <div class="row" :v-css-loading="is_loading" v-if="buckets_objects">
    <div class="col s12">
      <ul class="collection with-header hover-effect">
        <li class="collection-header">
          <h4 class="green-text text-lighten-2 break-word">
            <span v-for="prefix in buckets_objects.prefix_array" class="clickable" @click="is_normal_mode &amp;&amp; listObjects({prefix: prefix.breadcrumbs})">
              {{ prefix.valueOf() }}/
            </span>
          </h4>
        </li>

        <li v-for="content, index in buckets_objects.Contents" v-show="buckets_objects.Prefix !== content.Key" class="collection-item">
          <span class="text-ellipsis">{{ content.Key.replace(buckets_objects.Prefix, '') }}</span>
          <a v-show="is_normal_mode" href="/#!" @click.prevent="getObject(content)" class="secondary-content"><i class="green-text material-icons">file_download</i></a>

          <span v-show="is_delete_mode" class="right secondary-content">
            <input type="checkbox" class="right" :id="index" v-model="delete_multiple[index]">
            <label :for="index"></label>
          </span>

          <a v-if="is_normal_mode" href="/#!" @click.prevent="modalDeleteObject(buckets_objects, content)" class="secondary-content"><i class="green-text material-icons">clear</i></a>
        </li>

        <li v-for="comment_prefix in buckets_objects.CommonPrefixes" v-show="buckets_objects.Prefix !== comment_prefix.Prefix" class="collection-item">
          <div>
            <span class="text-ellipsis">{{ comment_prefix.Prefix.replace(buckets_objects.Prefix, '') }}</span>
            <a v-show="is_normal_mode" href="/#!" @click.prevent="listObjects({prefix: comment_prefix.Prefix})" class="secondary-content"><i class="green-text material-icons">visibility</i></a>
          </div>
        </li>

        <li v-show="!containFilesOrFolders()" class="collection-item avk-empty-folder">
          <div>
            <h4>This folder is empty.</h4>
          </div>
        </li>

        <li v-show="(buckets_objects.IsTruncated || list_start_after.length) &amp;&amp; is_normal_mode" class="collection-item avk-pagination">
          <div class="row">
            <button v-if="list_start_after.length" class="btn left green" @click.prevent="previousPage()"><i class="material-icons">navigate_before</i></button>
            <button v-if="buckets_objects.IsTruncated" class="btn right green" @click.prevent="nextPage()"><i class="material-icons">navigate_next</i></button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div v-if="is_loading" class="page-flexbox-wrapper">
    <div class="loader-wrapper">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal_delete_object" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Delete file</h4>
      <p>Are you sure deleting "{{ deleting.bucket &amp;&amp; deleting.bucket.Name }}/{{ deleting.object &amp;&amp; (deleting.object.Key || deleting.object.Prefix) }}"?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" @click.prevent class="modal-action modal-close btn green">Cancel</a>
      <a href="#!" @click.prevent="deleteObject()" data-trigger="delete" class="modal-action waves-effect waves-red btn red">Delete</a>
    </div>
  </div>

  <div id="modal_delete_multiple_objects" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Delete files</h4>
      <p>You are going to delete "{{ countFilesToDelete() }}" files, are you sure?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" @click.prevent class="modal-action modal-close btn green">Cancel</a>
      <a href="#!" @click.prevent="deleteMultipleObjects()" data-trigger="delete" class="modal-action waves-effect waves-red btn red">Delete</a>
    </div>
  </div>

  <div class="fixed-action-btn" v-show="is_delete_mode">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">more_vert</i>
    </a>
    <ul v-show="0 &amp;&amp; is_normal_mode">
      <li><a v-if="containFiles()" class="btn-floating red" @click.prevent="deleteMode()"><i class="material-icons">delete</i></a></li>
      <li><a class="btn-floating purple" @click.prevent="refreshCurrentFolder()"><i class="material-icons">child_care</i></a></li>
      <li><a class="btn-floating orange" @click.prevent="navbarGoTo('/dashboard')"><i class="material-icons">archive</i></a></li>
      <li><a class="btn-floating green" @click.prevent="navbarGoTo('/upload')"><i class="material-icons">cloud_upload</i></a></li>
    </ul>
    <ul v-show="is_delete_mode">
      <li v-show="countFilesToDelete()"><a class="btn-floating red" @click.prevent="modalDeleteMultipleObjects()"><i class="material-icons">delete_forever</i></a></li>
      <li><a class="btn-floating green" @click.prevent="cancelDeleteMultipleObjects()"><i class="material-icons">undo</i></a></li>
    </ul>
  </div>
</div>
