
.avk-buckets-objects {
  position: relative;
}

[v-css-loading=true] {
  position: absolute;
  width: 100%;
  top: 0px;
  opacity: 0.4;
}

.avk-buckets-objects > .row > .col.s12 > ul {
  box-shadow: black 0px 0px 10px;
  border-radius: 10px;
}
